<div class="mt-2 d-flex justify-content-between">
  <h3>Movie List</h3>
  <%= link_to 'Favorite Movie List', favorite_list_path, class: "btn btn-outline-primary" %>
</div>
<hr>
<div class="row mt-4">
  <% if @movies.present? %>
    <% @movies.each do |movie| %>
      <%= render "movie", movie: movie, favorite: true %>
    <% end %>
    <%= paginate @paginate_obj, total_pages: @total_pages %>
  <% end %>
</div>
